.hero {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 120px 80px 70px;
  background: linear-gradient(
    90deg,
    #090909 0%,
    #2b1a07 40%,
    #7b520c 100%
  );
  overflow: hidden;
}

/* LEFT SIDE */

.hero-left{
  color:white;
  z-index:2;
}

.availability{
  color:#E8C170;
  font-size:16px;
  margin-bottom:16px;
  letter-spacing:2px;
  text-transform:uppercase;
}

.hero-name{
  font-size:85px;     /* was 110px */
  line-height:1;
  margin-bottom:18px;
  font-weight:700;
}



.hero-title{
  font-size:28px;     /* was 34px */
  margin-bottom:22px;
  color:#f2f2f2;
}

.hero-description{
  width:80%;
  line-height:1.8;
  color:#edd272;
  font-size:16px;     /* was 18px */
  margin-bottom:0;
}

/* BUTTON */

.resume-btn{
  display:inline-flex;
  align-items:center;
  justify-content:center;

  margin-top:28px;

  padding:14px 32px;   /* smaller */

  border:none;
  border-radius:50px;

  background:rgb(255, 255, 255);
  color:#302002;

  font-size:16px;
  font-weight:600;

  cursor:pointer;
  text-decoration:none;

  transition:all .35s ease;
}

.resume-btn:hover{
  background:#D89C29;
  color:rgb(255, 255, 255);
  transform:translateY(-4px);
  box-shadow:0 10px 30px rgba(216,156,41,.4);
}

/* STATS */

.stats{
  display:flex;
  gap:55px;
  margin-top:50px;
}

.stat h3{
  font-size:40px;   /* was 50px */
  color:white;
}

.stat p{
  color:#d8d8d8;
  margin-top:6px;
  font-size:16px;
}

/* DIVIDERS */

.stat{
  position:relative;
}

.stat:not(:last-child)::after{
  content:"";
  position:absolute;
  right:-28px;
  top:10px;
  width:2px;
  height:45px;
  background:rgba(216,156,41,.5);
}

/* RESPONSIVE */

@media (max-width:992px){

  .hero{
    grid-template-columns:1fr;
    text-align:center;
    padding:120px 30px 60px;
  }

  .hero-left{
    order:2;
  }

  .hero-name{
    font-size:60px;
  }

  .hero-title{
    font-size:24px;
  }

  .hero-description{
    width:100%;
  }

  .stats{
    justify-content:center;
    gap:35px;
  }
}